body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
}

.center{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    padding: 5px 20px;
    background-color: #131315;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

/* header.scrolled {
    border-bottom: 2px solid black;
    box-shadow: 0px 2px 5px 0px black;
} */
.header-content{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    /* margin-right: 15px; */
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 25px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #F76F1E;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-cart, .header-profile {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.header-cart:hover, .header-profile:hover {
    color: #F76F1E;
}

.header-cart i{
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #F76F1E;
    
}

.header-profile i{
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.header-cart p, .header-profile p {
    font-size: 0.8rem;
}

.content {
    flex: 1;
    padding-top: 120px;
    padding-bottom: 120px;
    background: #fff;
}

.footer-container {
    width: 100%;
    background-color: #F2F2F2;
    color: #2D2F2F;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.center-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.footer-column h3 {
    margin-bottom: 20px;
    color: #F76F1E;
}

.footer-column h3 a{
    text-decoration: none;
    color: #F76F1E;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.footer-column ul li a {
    color: #2D2F2F;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ff6b6b;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.social-icons a i{
    font-size:20px;
    color: #2D2F2F;
    transition: color 0.3s ease;
}

.social-icons a i:hover{
    color: #F76F1E;
}


.footer-bottom {
    text-align: center;
    padding-top: 40px;
    font-size: 0.9rem;
    color: #2D2F2F;
}
