/* users/static/users/css/forgot_password.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.forgot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    padding: 20px;
    gap: 20px;
}

.image-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-side img {
    width: 80%;       
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

.form-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 350px;
    background: #F6F6F6;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

label {
    font-size: 14px;
    margin: 10px 0 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 14px;
    background-color: #C9DBD54D;
    color: #333;
}

input::placeholder {
    color: #8897AD;
}

button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background: #333;
}

.login-text {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.login-text a {
    color: #d28556;
    text-decoration: none;
    font-weight: 600;
}

.login-text a:hover {
    text-decoration: underline;
}
.messages {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
}

.messages li {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
}

/* Message colors */
.messages li.success {
    color: green;
    background-color: #e7f9ec;
    border: 1px solid #a9e5b3;
}

.messages li.error {
    color: red;
    background-color: #fde8e8;
    border: 1px solid #f5b5b5;
}
