.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.profile-photo-container {
  background: #f0e3e6;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid #ccc; /* light grey border */
}


.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name-container {
  margin-top: 20px;
  text-align: center;
}

.profile-name-container h2 {
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

.profile-details-container {
  background:  #F6F6F6;
  padding: 25px 40px;
  margin-top: 25px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  font-family: 'Nunito', sans-serif;
}

.detail-row {
  display: flex;
  margin-bottom: 12px;
}

.detail-label {
  font-weight: 600;
  color: #333;
  width: 90px;
}

.detail-value {
  color: #555;
}

.edit-btn {
  display: block;
  margin: 25px auto 0;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: #8c692a;
}

.upload-btn {
  margin-top: 15px;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #ccc;
}


/* History button styling */
.history-btn {
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.history-btn:hover {
  background-color: #8c692a;
}
